.payment-options {
  .payment-options__title {
    margin: 20px 0px;
    font-family: var(--skin-body-font);
    font-weight: 400;
    font-size: 18px;
    color: #414141
  }

  .payment-options__payment {
    margin-bottom: 8px;

    input[type="radio"] {
      appearance: none;
      background-color: #fff;
      display: grid;
      margin: 0;
      font: inherit;
      color: #414141e2;
      width: 1.15em;
      height: 1.15em;
      border-radius: 50%;
      transform: translateY(-0.075em);
      place-content: center;
      cursor: pointer;
      border: 0.12em solid #414141e2;
      transition:all 0.4s;
    }

    input[type="radio"]::before {
      content: "";
      width: 0.65em;
      height: 0.65em;
      border-radius: 50%;
      transform: scale(0);
      transition:all 0.4s;
      box-shadow: inset 1em 1em #414141e2;
    }

    input[type="radio"]:checked::before {
      transform: scale(1);
      transition:all 0.6s;
    }

    input[type="radio"]:checked {
      transform: scale(1);
      border: 0.15em solid #414141e2;
    }

    input[type="radio"]:focus {
      outline: max(0px, 1px) solid var(--color-horizontal-rule-grey);
      outline-offset: max(0px, 0px);
    }

    input[type="radio"]:hover {
      outline: max(3px, 8px) solid #e9ecef;
      outline-offset: max(2px, 2px);
      // transition: 160ms transform ease-in-out;
    }
  }

  .payment-method_option_label {
    margin-bottom: 0;
  }

  .payment-option_img {
    width: 35px;
    height: 26px;
    margin-left: 15px;
  }

  .payment-option_img-bg {
    width: 63px;
  }

  .payment-option_img-less {
    width: 30px;
  }
}
